@media only screen and (min-width: 35rem){

.house_icon_container {
    display: flex;
    justify-content: space-evenly;
 }
.wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 1rem;
}

.oliWelcome{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.wand_icon{
    width: 300px;
    margin:0;
    margin-top: 8%;
}

span.title_size{
    font-size:5rem;    
}

h1.title  {
    font-weight: 400;
    margin-top: -20px;
    line-height: 4rem;
}

span.title_size,.hat_title{
    font-size:5rem;
    
}

#yourWand {
    height: 70%;
    bottom: 10px;

}

.wand_bottom {
    height: 50px;
}

.hat_title{
    font-size: 4rem !important;
}
.student{
    width: 200px;
    height: 300px;
}

.sort_in_progress{
    transform: translate(0px, 100px);
    
}

#hat{
    width: 420px;
    height: 420px;
    position: fixed;
   bottom: 200px;
    
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } 
}

.sort_in_progress{
    transform: translate(0px, 100px);
    
}

#sort_directions{
        bottom: 0px;   
}

.announcement_div{
    font-size: 2rem;
}

#spell_name, #class, #purpose {
    font-size: 1.2rem;
}

.spell_bottom {
    height: 10%;;
}

#spell_details{
    position: absolute;
    z-index: 1;
    left: 20%;
    text-align: left;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;                
         
}
}