@media only screen and (min-width: 35rem){

.house_icon_container {
    display: flex;
    justify-content: space-evenly;
 }
.wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 1rem;
}

.oliWelcome{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.wand_icon{
    width: 300px;
    margin:0;
    margin-top: 8%;
}

span.title_size{
    font-size:5rem;    
}

h1.title  {
    font-weight: 400;
    margin-top: -20px;
    line-height: 4rem;
}

span.title_size,.hat_title{
    font-size:5rem;
    
}

#yourWand {
    height: 70%;
    bottom: 10px;

}

.wand_bottom {
    height: 50px;
}
}