@media only screen and (min-width: 35rem){

.house_icon_container {
    display: flex;
    justify-content: space-evenly;
 }
.wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 2rem;
}
}
