@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Mountains+of+Christmas:wght@400;700&family=Roboto&display=swap&family=Schoolbell&display=swap');


body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
main{
    margin: auto;
    max-width: 800px;
    height: 100vh;
    
}

h1.title, h1 {
    font-family: 'Mountains of Christmas', cursive;
    color: #F2B705;
    font-weight: 400;   
    line-height: 2rem;
    font-size: 1.5rem;
}

span.title_size{
    font-size:2.5rem;
    display: block;
}

.title{
   padding: 0;    
}

#sort_directions{
    color: white;
    
}

header{
    position: relative;
    background-color: #750022;
    max-height: 150px;
    text-align: center;
    padding: 3%;
    background-image: url("https://edenborrowman.github.io/wdd330/harrypotter/images/hogwarts.svg");
    background-repeat: repeat-x;
    background-position: center bottom;  
    /* width: 100vw !important; */
}

.fa-home {
    background-color: black;
    border: none;
    color: white;
    width: 10px;
    height: 10px;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }

  .fa-home:hover {
    background-color: #F2B705;
    color: black !important;
  }

.shield{
    width: 120px;
    height: 120px;
    padding: 10px 10px 0 10px;
}

.black {
    color: #010203;
    margin-top: 0;
}

.white{
    color: white;
}


.main_harry_img{
    display: block;
    max-width: 350px; 
    margin: auto;
}

.house_icon {
    display: block;
    text-align: center;
    font-size: 1.5rem;    
}

a{
    text-decoration: none;
    color: white;
    
}

a:hover {
    transform: scale(1.1);
    transition: transform .75s;
    color:#F2B705;
}
.shield:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
}

footer{
position: fixed;
left: 0;
bottom: 0px;
background-color: #750022;
text-align: center;
padding: 2%;
color:#F2B705;
bottom:0;
left:0;
right:0;
height:20px;

}

/* Sorting Hat Page */

.sorting_main{
    max-height: 50vh;
}

.sorting_area{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hat_title {
    font-size: 2rem !important;
    margin-top: 0;
    margin-bottom: 10%;
    line-height: 3rem !important;
}

.bricks {
    background-image: url("https://edenborrowman.github.io/wdd330/harrypotter/images/brick_wall.png");
}

#hat{
    width: 210px;
    position: fixed;
   bottom: 100px;
    margin: auto auto 0;
    z-index: 1; 
    transition:transform 2s ease; 
    opacity: 1;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s  
}
.student{
    position:fixed;
    bottom:0px;
    margin: auto auto 0;
    width: 100px;    
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } 
}

.sort_in_progress{
    transform: translate(0px, 50px);
    
}


.sort {
    padding: 10px;
    color:#750022;
    background-color: #F2B705;
    font-size: 2rem;
    box-shadow: 4px 2px 5px black;
    
}

.sort:hover {
    filter: brightness(120%);
    transform: scale(1.05, 1.05);
    transition: .4s ease;
    color: white;
}

.announcement_div {    
    font-family: 'Mountains of Christmas', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
  }

   #sort_directions{
      position: absolute;
      left: 0;
      bottom: -20px;
      right: 0;
  }

  /* .hide {
    display: none;
} */

/* Chocolate Frog Trading Cards */
.wrapper{    
    color: #F2B705     
}
.card{
    width: 300px; 
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 1000px;
    margin: auto;
    padding: 3%;
}
.card:hover{
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    max-width: 300;
    height: 375px;
    background-color:#750022;
    background: url("https://edenborrowman.github.io/wdd330/harrypotter/images/paper17.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    border: 20px solid #F2B705;
    
   
}

.back {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px; 
    height: 380px;
    background-color:#F2B705;
    transform: rotateY(180deg);
    backface-visibility:  hidden;
    padding: 3%;
    border: 20px solid black;
    color: black;
}
.cardImages{
    display: block;
    width: 180px;
    height:250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid black;
}

/* Wand Shop */

.subhead{
    color: white;
    font-size: 1rem;
    
  
    
}

.ollivanders {
    background-image: url("https://edenborrowman.github.io/wdd330/harrypotter/images/oldPaper.jpg");
    background-size:cover;   
}

.oliWelcome{
    display: flex-wrap;
    flex-direction: row !important;    
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 3%;
  text-align: center;
 
}


#oliLogo{    
    width: 80%;  
    padding: 5%;  
}

button#wandEnter {  
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

#buttonLink{
    color: white;
    padding: 15px;
}

/* wand page */



#oliHeaderImg{
    width: 50%;
    max-width: 500px;
}

main.wand {
    width: 100%;
    margin: 0; 
    max-width: 100%;
    text-align: center; 
}

#instructions{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }



h2 {
    color:white;
}

.bottom {
position:fixed;
 bottom:0;
 left:0;
}



.wand_icon{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.wand_menu {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2rem;
    font-weight: bold;
}
 .wand_menu:hover, .wand_icon:hover{
     transform: scale(1.1); 
     transition: transform .75s;
     filter: contrast(200%);
 }

/* wand application */

h1.h1sc {
    font-size: 2.2rem;
  }

  .formdiv{
      padding-bottom: 5rem;

  }
  
  form fieldset {
      margin: 2rem 0;
      border: 1px solid #2a3640;
      border-radius: 10px;
      padding: 1rem 2% 2.5rem 2%;
  }
  
  form legend {
      font-family: 'Mountains of Christmas', cursive;
      color:#750022;
      margin: 0 1rem;
      padding: 0 .5rem;
      font-size: 2rem;    
  }
  
  form label.top, form div {
      display: block;
      padding-top: 1rem;
      color:#2a3640;
      font-size: 1.2rem;
      font-family: 'Roboto', Open Sans, Helvetica, Sans Serif;
  }
  
  form label.top input, form label.top select{
      -webkit-appearance: none;
      display: block;
      font-size: 1rem;
      border: solid 1px #999;
      border-radius: 4px;
      padding: .75rem;
      color: #555;
      width: 100%;
      max-width: 20rem;
      background-color: rgba(0,0,0,0.1);
  }
  
  form label.sbs {
      display: block;
      padding: .75rem 0;
      color: #555;
       
  }
  form input.submitBtn {
      border: none;
      background-color:#750022;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 0 0 2rem 2%;
      width: 96%;
      max-width: 20rem;
  }
  
  form label.top input:required {
      border-left: red solid 6px;
  }
  
  form label.top input:required:valid{
      border-left: green solid 6px;
  }
  
  input.txtarea {
    width: 100%;
      height: 120px;
      border: solid 1px #999;
      border-radius: 4px;
      padding: .75rem;
      color: #555;
      max-width: 98%;
  }
  
  form select.formbut {
    padding: 10px;
    border-radius: 4px;
  }

  /* Your Wand Styling */

#wandContainer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-height: 30vh;
}

#yourWand {
    filter: contrast(200%);
    position: absolute;
}

#yourWand:hover{
    transform: scale(1.1);
    /* transform-origin: top; */
    transition: transform .5s ease-in-out;
}

    .chalk {
        background-image: url("https://edenborrowman.github.io/wdd330/harrypotter/images/chalk.png");
        background-size: cover;
        z-index: -20;
    }

    #instructions {
        text-align: center;
        background-image: url("https://edenborrowman.github.io/wdd330/harrypotter/images/ancientpaper.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:170px;
        width: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: .01%;    
        font-family: 'Mountains of Christmas', cursive;
        font-weight: bold;
        font-size: 1.2rem; 
       margin-top: 2%;
    }

    .wand_is_chosen{
        animation: roll .5s;           
    }

    @keyframes roll {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
    }

    #olli_comm{
        font-family: 'Homemade apple', script;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        color: white;
    }

    #wandMessage{
        font-size: 1.5rem;
    }

        .wand_bottom {
            height: 100px;
            position:fixed;
           bottom:0;
            left:0;
        }
    
/* Spell Practice Styling */

main.spellPage{
    width: 100%;
    margin: 0; 
    max-width: 100%;
    text-align: center; 
    
}

#spellContainer{
    
    margin-left: auto;
    margin-right: auto;
    background-position:center bottom !important;
    background-repeat:no-repeat !important;
   
    
 
      
}

#spell_name, #class, #purpose {
    font-family: 'Homemade Apple', cursive;
    color: white;
    line-height: 1rem;  
    font-size: .75rem;  
}

#spell_details{
    position: absolute;
    z-index: 1;
    left: 20%;
    text-align: left;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;                
         
}

h2.subhead {
    user-select: none;
}

#reset_button, #new_spell, #tryAgain {
    padding: 10px;
    width: 10rem;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    color:#750022;
    background-color:#F2B705;
    
}

.spell_bottom {
    height: 20%;
    position:fixed;
   bottom:0;
    left:0;
}

/* credits */

#cred_h2{
    color:#F2B705;
    font-family: "Mountains of Christmas", script;
    font-size: 3rem;
    
}
.cred_h3 {
    font-size: 2rem;
}
  

  .crawl {
    position: relative;
    top: 300px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
    z-index: -10;
    color: #F2B705;
    line-height: 2rem;
  }
  .crawl a {
      color:#F2B705;
  }
  
  .crawl > .title {
    text-align: center;
  }
  
  .crawl > .title h2 {
    margin: 300px 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;     
    }
    100% { 
      top: -4000px;      
    }
  }

