@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto&display=swap');

body{
    font-size: 16px;
}
main{
    margin: auto;
    max-width: 800px;
}

h1{
    font-family: 'Mountains of Christmas', cursive;
    color: #F2B705;
    font-weight: 400;
}
span.title_size{
    font-size:5rem;
    display: block;
}

header{
    background-color: #750022;
text-align: center;
padding: 2%;
  
}

.shield{
    width: 120px;
}

.main_harry_img{
    display: block;
    max-width: 350px; 
    margin: auto;
}

.house_icon {
    display: block;
    text-align: center;
    font-size: 1.5rem;    
}

a{
    text-decoration: none;
    color: black;
    
}

a:hover {
    transform: scale(1.1);
    transition: transform .75s;
    color:#750022;
}
.shield:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
}

footer{
background-color: #750022;
text-align: center;
padding: 2%;
color:#F2B705;
}

/* Sorting Hat Page */

body.sorting_hat_page {
    background-image: url("/harrypotter/images/brick_wall.png");
}

.sorting_area{
    color: #F2B705;
}

.hat{
    width: 420px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100px;
    right: 0;
    margin: auto auto 0;
    z-index: 1; 
}
/* @keyframes myanimation{
    0% {top:-40px}
    25% {}
    
} */
.student{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto 0;
    width: 200px;
    
}

