.mobile {
    width: 300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color:white;
    width: 100%;
    min-height: 100%;
    max-width: 800px;
    margin: auto;
}
.bee_pic{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
#quote_pic {    
    z-index: -1;
    
}

#qt_div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 80%;
}

#qt{
    background-color:rgba(255, 255, 255, 0.6);
    color: black;
}

  nav {
    background-color: gold;
  }
  
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #2a3640;
  }
  
  nav ul {
    list-style: none;  
    
  }
  nav ul li {
      color: black;
      
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    padding: 5%;     
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);    
  }

  nav ul li a:hover {
      background-color:rgba(255, 255, 255, 0.5);
      color: rgb(109, 200, 253);
      font-weight: bold;
  }
  
body {
    padding: 20px;
   
    }

.title {
    font-family: "Pacifico", script;
    color: black;
}

section{
    /* background-color: rgba(255, 255, 255, 0.25); */
    width: 90%;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
}

.listContainer, .newItemEntry {
    padding: 1rem;
    margin-bottom: 2rem;
}

img {
    width: 100%;
    max-width: 800px;    
    z-index: -1;
    padding: 0;
}
.button{
    background-color: gold;
    width: 100px;
    height: 100px;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    line-height: 100px;
    color: black;
    min-width: 50px;
    
}

.button:hover {
    cursor: pointer;
}

.button:hover,
.button:focus{
    filter: brightness(120%);
    box-shadow: 4px 2px 5px black;
}

form{
     display: flex;
    justify-content: space-between;
        }

#newItemLabel {
    position: absolute;
    left: -1000000px;
}

input[type="text"] {
    width: 80%;
    font-size: 1.25rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.75rem;
    outline: none;
}

input[type="text"]:hover,
input[type="text"]:focus {
    box-shadow: 4px 2px 5px black;
}

button#addItem{
    font-size: 1.25rem;
    background-color: rgba(0, 128, 0, .5);
    padding: 0 0.1rem;
    border: none;
}

button#openTaskList{
    font-size: 1.25rem;
    background-color: rgba(0, 128, 0, .5);
    padding: 0 0.1rem;
    border: none;
}
button#openTaskList:focus {
    box-shadow: 5px 3px 6px black;
    transition: .3s ease;
    outline-width: 0;    
    color: white;
}

a.button {
    position: relative;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: black;
  
   
}

button:focus {
    color: white;
}
button#sort {
    font-size: 1.25rem;
        background-color: gold;
        padding: 0 0.1rem;
        margin-bottom: 0.5rem;
        border: none;
    }

.listContainer {
    min-height: 60vh;
    max-height: 66vh;
    padding: 0.75rem;
    }
.listTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button#clearItems {
    font-size: 1.25rem;
    background-color:rgb(218, 16, 16);;
    padding: 0 0.1rem;
    margin-bottom: 0.5rem;
    border: none;
}

hr.line {
    width: 100%;
    
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

input[type="checkbox"]{
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    
}

input[type="checkbox"]:hover{
box-shadow: 4px 2px 5px black;
transition: .3s ease;
}

input[type="checkbox"]:hover + label{
    text-decoration: underline;
    transition: .3s ease;
    } 
label{ 
    font-size: 1.1rem;  
    color: black;
    font-weight: bold;   
}

#dashed {
    z-index: 1;
    position: relative;
}

#button_div {
    display: flex;
    justify-content:center;
    align-items:baseline;
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding-top: 5%;
    border: 1px solid black;
    padding: 5%;
    
}

.newItemEntry{
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    border-radius: 0;
    padding: 5%;
    box-shadow: 2px 2px 5px black;
}


#header_1 {
   font-family: 'Pacifico', script;
   color: black;
   font-size: 3rem;
   text-align: center;
}
#header_2 {
    color: black;
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.sky {
    background-color: rgb(109, 200, 253);
    max-width: 800px;
    margin: auto;
}

#bizzy {
    /* margin-top: 10%; */
    max-width: 15rem;
    z-index: 0;
    
}

a{
    text-decoration: none;
    color: black;
}



button.home_but:hover, button#motivate:focus{
    filter: brightness(120%);
    box-shadow: 4px 2px 5px black;
    transition: .3s ease;
}

    /* pomodoro timer styling */
.pom_title {
     font-size: 2rem;
     padding: 1rem;
     color: black;
     font-family: "Pacifico", script;
     text-align: center;
    }
.pom_descripton{
    max-width:80%;
    text-align: center;
    padding-bottom: 1rem;
    font-size: .75rem;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
    }

 .pom_button{
     padding: .5rem;
     background-color: gold;
     border: none;
     margin-left: 1rem;
     margin-right: 1rem;
     margin-bottom: 5rem;
     cursor: pointer;
 }

 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: -5rem;

 }

 button.pom_button:hover, button#motivate:focus{
    filter: brightness(120%);
    box-shadow: 4px 2px 5px black;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease;
}

#buzzy_2{    
    max-width: 250px;
    }

    img#buzzy_3 {
        display: inline;
        max-width: 80px;
        z-index: 0;
        margin-right: 5%;
    }
.clock{
    display: flex;
  
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    border: 5px solid black;
    border-radius: 10rem;
    
}
.clock_face {
    display: inline-block;
    color: black;
    padding: .5rem;
    font-size: 2rem;
 }
.show_massage{
    display: block;
    padding: 1rem 0;
    color: black;
    border-radius: .5rem;
    transition: .3s ease;
}

.break_msg {
    padding: 1rem;
    text-align: center;
    margin: 10px auto;
    color: rgb(218, 16, 16);
}
.hide{
    display: none;
}

